/plot_gonzalez
/data
/milestones_analysis
/scripts
/most_updated_scripts
/output
/*.venv
/__pycache__
/.vscode
/census_data
/.DS_Store
*.ipynb_checkpoints
*.csv
*.xlsx
.shard_tmp/
*__pycache__/
*.json


